.navigation{
    max-width: 250px;
    width: 20%;
    background-color: beige;
    padding: 20px;
    border-radius: 15px;
    margin-right: 6px;
    font-weight: 600;
    font-size: 22px;
    border-right: 1px solid grey;
    text-decoration: none;
}

.nav_item:after {
    content:' »';
}
.nav_itembox{
    text-decoration: none;
}
.nav_item {
    margin-bottom: 15px;
    border-left: 1px solid #626c72;
    padding-left: 10px;
}
.nav_item a{
    text-decoration: none;
    color: rgb(130, 36, 227);
}
.nav_item:hover{
    text-decoration: none;
    background-color: rgb(255, 136, 255);
}