.header {
    max-width: 1170px;
    width: 100%;
    border-bottom: 1px solid grey ;
    border-radius: 15px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 50px;
    margin: 3px 15px;
}


.login_btn{
    padding-right: 15px;
    text-decoration: none;
}

.login_btn a {
    text-decoration: none;
}