.profile {
    width: 100%;
    border-radius: 15px;
}

.profile_img {
    position: relative;
    height: 250px;
    background-image: url(http://beingcovers.com/download.php?id=3182);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.user_ava img {
    height: 120px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px dashed rgb(75, 75, 75);
    margin: 10px;
}

.user_info_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(0deg, rgb(0, 255, 197), rgba(255, 255, 255, 0.0));
    background: -moz-linear-gradient(0deg, rgb(0, 255, 197), rgba(255, 255, 255, 0.0));
    background: linear-gradient(0deg, rgb(0, 255, 197), rgba(255, 255, 255, 0.0));
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}