.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.second_raw {
    display: flex;
    font-display: auto;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    background-color: #dae2ea;
    font-family: 'Varela Round', sans-serif;
}

.content_part {
    border-radius: 15px;
    width: 100%;
    background-color: #fff;
}