.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.second_raw {
    display: flex;
    font-display: auto;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(https://lh3.googleusercontent.com/proxy/iXP0O_jnJq3ZLaX9FQrTiyi68kahwwTHu7MrnagQ6SFJz24_1Yx7GI0ttuFLZatXVqv9pqfXfav_HFy-brUf6geFx7gZM66H2N6t5PJFYfXccW97mFOXUkUbRjK_fqhaYyjkyo4sRWGaGJ7ojldR-Wv1YeCWEsFDwkMOFwroF0e-GY5oVat1MrfPaYarVyY);
    font-family: 'Varela Round', sans-serif;
}

.content_part {
    border-radius: 15px;
    width: 100%;
    background-color: #fff;
}