.dialogs {
    background-color: rgba(184, 241, 255, 0.555);
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.first {
    width: 20%;
}

.second {
    width: 79%;
}

.third {
    min-width: 5px;
    background-color: #000;
    min-height: 80px;
    border-radius: 5px;
}

.dialogs_title {
    margin: 0;
    padding: 15px;
}

.dialogs_items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.dialogs_item {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    height: 100%;
}
.dialogs_item a{
    text-decoration: none;
}

